<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349314336970-kqrmqtsu0cls310ih2gs19gp1l1m7cgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349314336970-kqrmqtsu0cls310ih2gs19gp1l1m7cgj</string>
	<key>API_KEY</key>
	<string>AIzaSyBZGqdJ8sCAF83lOaXa39fnkQ3pkb41GRc</string>
	<key>GCM_SENDER_ID</key>
	<string>349314336970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Zaini.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-2d3f7</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-2d3f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349314336970:ios:af3e8ea3e5af2a93274c33</string>
</dict>
</plist>